<% if(footer){ %>
    <footer class="bg-zinc-800 text-white py-6 mt-10">
      <div class="container mx-auto px-6 sm:px-20">
        <div class="flex flex-col sm:flex-row justify-between items-center">
          <div class="flex flex-col items-center sm:items-start mb-6 sm:mb-0">
            <img src="/images/satipg.png" alt="College Logo" class="h-20 w-20 mb-4">
            <p class="text-center sm:text-left">© 2024 Samrat Ashok Technological Institute, Vidisha (M.P.)</p>
          </div>
          <div class="flex space-x-6">
            <a href="https://www.facebook.com/satiengg.in/" class="text-white hover:text-gray-400" style="color: #3b5998;"><i class="ri-facebook-circle-fill text-2xl"></i></a>
            <a href="https://twitter.com/sati_vidisha/" class="text-white hover:text-gray-400" style="color: #1da1f2;"><i class="ri-twitter-fill text-2xl"></i></a>
            <a href="https://www.linkedin.com/school/samrat-ashok-technological-institute/" class="text-white hover:text-gray-400" style="color: #0077b5;"><i class="ri-linkedin-fill text-2xl"></i></a>
            <a href="https://www.instagram.com/satiengg.in/" class="text-white hover:text-gray-400" style="color: #e9004e;"><i class="ri-instagram-fill text-2xl"></i></a>
          </div>
        </div>
        <div class="text-center mt-6">
          <p>Contact us at <a href="mailto:sati@satiengg.in" class="text-blue-400 hover:underline">sati@satiengg.in</a></p>
        </div>
      </div>
    </footer>
    <% } %>
</body>
</html>