<% include ./partials/header.ejs %>

<div class="w-full min-h-screen text-white flex flex-col items-center">
  <div class="container mx-auto mt-5">
    <h2 class="text-2xl mb-3 bg-gray-800">Attendance Dashboard</h2>

    <% if (students && students.length > 0) { %>
      <div class="grid grid-cols-1 gap-2 bg-gray-800">
        <% students.forEach((student) => { %>
          <div class="bg-gray-800 rounded-lg p-1">
            <div class="flex items-center justify-between mb-1">
              <div class="flex items-center">
                <!-- Render student image, name, and enrollment number -->
                <img src="<%= student.images[0].imagePath %>" alt="Student Image" class="rounded-full h-8 w-8 mr-1">
              <div>
                  <h3 class="text-xl font-bold"><%= student.name %></h3>
                  <p class="text-gray-400">Enrollment No: <%= student.enrollmentNo %></p>
                </div>
              </div>
              <div>
                <!-- Placeholder for attendance icons (e.g., P for present, A for absent) -->
                <span class="text-green-500 font-bold">P</span>
                <span class="text-red-500 font-bold">A</span>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <p>No students registered yet.</p>
    <% } %>
  </div>
</div>

<% include ./partials/footer.ejs %>
