<% include ./partials/header.ejs %>
    <div class="container mx-auto max-w-md mt-20">
        <h2 class="text-2xl mb-6">Login</h2>
        <form action="/loginfaculty" method="POST">
            <input type="text" name="username" placeholder="Name" class="block w-full px-4 py-2 mb-4 border rounded-md">
            <input type="password" name="password" placeholder="Password" class="block w-full px-4 py-2 mb-4 border rounded-md">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Login</button>
        </form>
        <p class="mt-4 text-center text-sm">Don't have an account? <a href="/" class="text-blue-500">Signup</a></p>
    </div>
<% include ./partials/footer.ejs %>